body{
    color: white;
    background:blue ;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_emotions,#result_emotions_name,#result_emotions_accuracy{
color: yellow;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}